.App {
  text-align: center;
  background-color: #282c34;
}

.main {
width: 100%;
height: 100%;
}

h1 {
  color: azure;
}

input {
width: 500px;
height: 25px;
margin: 2%;
border-radius: 5px 5px 5px 5px;
border: 4px solid #13e1f0;
}

.counter{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.button-act {
  width: 45px;
  height: 45px;
  margin: 5%;
  background: #28D3DE;
  border-radius: 10px;
  color:#4a4a4a;
  font-size: 35px;
  text-transform: uppercase;
}

.button-dis{
  width: 45px;
  height: 45px;
  margin: 5%;
  background: #4a4a4a;
  border-radius: 10px;
  color:#a2abac;
  font-size: 37px;

}

p{
  color: #fdfdfd;
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}
