.App {
  text-align: center;
  background-color: #282c34;

}

.main {
width: 100%;
height: 100%;
}
h1 {
  color: azure;
}

input {
width: 500px;
height: 25px;
margin: 2%;
border-radius: 5px 5px 5px 5px;
border: 4px solid #13e1f0;
}
button {
  width: 150px;
  height: 30px;
  background: #28D3DE;
  border: 4px solid #a19f9f;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
